@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 30px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    color: #F9FAF8;
}

.hero-section {
    background-color: #1F2937;
    padding: 60px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.hs-1{
    flex: 1;
    height: 100px;
    width: 100px;
}

    #hero-img {
    width: 300px; 
    height: 300px;
    padding: 40px;
    margin: 40px;

}

#btn {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    width: 100px;
}

.random-section {
    margin: 30px auto 70px;
}

.random-header {
text-align: center;
margin-bottom: 32px;
}

.icon-images{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;

}

.icons{
    max-width: 200px;
}

.thors-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    height: 200px;
    padding: 60px;
}

/* .icons {
    border: 3px solid #3882F6;
    height: 100px;
    width: 100px;
} */

#quote-text {
    margin-left: 300px;
    width: 1000px;
}

#quote-name {
 text-align: end;
 margin-right: 100px;
}

.action {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 80px 200px;
    padding: 50px;
    border-radius: 10px;
}


/* .call {
    background-color: #3882F6;
    margin: 80px 200px;
    padding: 45px;
} */

#call-btn {
background-color: #3882F6;
color: #F9FAF8;
border-color: #F9FAF8;
padding: 5px 20px;
border-radius: 5px;
width: 100px;
}